<div class="title">
    <h1>
        GET IN
        <span>TOUCH</span>
    </h1>
</div>

<div class="mainContent">
    <div class="contactLinks">
        <h3>Don't be shy !</h3>
        <span class="content">
            Feel free to get in touch with me. I am always open to discussing new projects, creative ideas or
            opportunities to be
            part of your visions.
        </span>

        <div>
            <mat-icon aria-hidden="false">pin_drop</mat-icon>
            <span>United Kingdom</span>
        </div>

        <div>
            <mat-icon aria-hidden="false">contact_mail</mat-icon>
            <a class="mailLink" href="mailto: ashokkumarramasamy1995@gmail.com">ashokkumarramasamy1995@gmail.com</a>
        </div>

        <div>
            <mat-icon aria-hidden="false">phone_in_talk</mat-icon>
            <a class="mailLink" href="tel:+4407918405474">+44 07918405474</a>
        </div>

        <div class="socialMediaLinks">
            <a target="_blank" href="https://www.facebook.com/Ashok95/"><img mat-card-sm-image
                    src="../assets/icons/facebook.png"></a>
            <a target="_blank" href="https://www.instagram.com/ashokkumar_ramasamy/"><img mat-card-sm-image
                    src="../assets/icons/instagram.png"></a>
            <a target="_blank" href="https://www.linkedin.com/in/ashokkumar-ramasamy-502a8711a/"><img mat-card-sm-image
                    src="../assets/icons/linkedIn.png"></a>
        </div>

    </div>
    <div class="contactForm">
        <div class="emailSuccess" *ngIf="emailSuccess">
            <div class="tickIcon">
                <mat-icon *ngIf="!emailErrorOccured" aria-hidden="false">task_alt</mat-icon>
                <mat-icon *ngIf="emailErrorOccured" aria-hidden="false">sentiment_neutral</mat-icon>
            </div>
            <span>{{emailMessage}}</span>
        </div>
        <form *ngIf="!emailSuccess" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="nameForm">
                <input id="name" type="text" formControlName="name" placeholder="YOUR NAME" required>

                <input class="email" id="email" type="text" formControlName="email" placeholder="YOUR EMAIL">
            </div>

            <input class="subject" id="subject" type="text" formControlName="subject" placeholder="YOUR SUBJECT">

            <textarea class="message" id="message" type="text" formControlName="message" placeholder="YOUR MESSAGE">
            </textarea>

            <button class="submit" type="submit" [disabled]="!contactForm.valid">Submit</button>
        </form>

    </div>
</div>