<div class="homeLayout">
  <div class="leftContainer">
    <router-outlet></router-outlet>
  </div>
  <div class="rightContainer">
    <div class="bulb" (click)="switchMode()">
      <mat-icon aria-hidden="false" [ngClass]="lightIcon" matTooltipPosition="above" matTooltip="Turn On Dark Mode">{{
        lightIcon
      }}</mat-icon>
    </div>
    <!-- <button
      mat-raised-button
      matTooltip="Info about the action"
      aria-label="Button that displays a tooltip in various positions"
    >
      Action
    </button> -->

    <ul>
      <!-- <li><mat-icon aria-hidden="false">light</mat-icon></li> -->
      <li *ngFor="let list of iconsList">
        <h2>{{ list.name }}</h2>
        <mat-icon aria-hidden="false" [ngClass]="{ active: list.isActive }">{{ list.identifier }}</mat-icon>
      </li>
    </ul>
  </div>
</div>
