<div class="homeLayout">
  <div class="leftContainer">
    <router-outlet></router-outlet>
  </div>
  <div class="rightContainer">
    <div class="bulb">
      <mat-icon aria-hidden="false" [ngClass]="lightIcon">{{ lightIcon }}</mat-icon>
    </div>

    <ul>
      <!-- <li><mat-icon aria-hidden="false">light</mat-icon></li> -->
      <li *ngFor="let list of iconsList">
        <h2>{{ list.name }}</h2>
        <mat-icon aria-hidden="false" [ngClass]="{ active: list.isActive }">{{ list.identifier }}</mat-icon>
      </li>
    </ul>
  </div>
</div>
