<div class="homeLayout">
  <div class="leftContainer">
    <router-outlet></router-outlet>
  </div>
  <div class="rightContainer">
    <div class="bulb" (click)="switchMode()">
      <mat-icon aria-hidden="false" [ngClass]="lightIcon" matTooltipPosition="above" [matTooltip]="modeTooltip">{{
        lightIcon
      }}</mat-icon>
    </div>

    <ul>
      <li *ngFor="let list of iconsList">
        <h2>{{ list.name }}</h2>
        <mat-icon aria-hidden="false" [ngClass]="{ active: list.isActive }">{{ list.identifier }}</mat-icon>
      </li>
    </ul>
    <!-- <p>Version: 2.0</p> -->
  </div>
</div>
