<div class="summaryDetails">
  <div class="imageContainer">
    <!-- <img class="profilePicture" src="../assets/ashok.jpg" /> -->
  </div>
</div>
<div class="about">
  <h1>- I'm Ashok.</h1>
  <span>Software Developer</span>
  <p class="personal">
    I'm a UK based software developer with 4.5 years of experience in Full stack development. I am passionate about
    building excellent software that improves the lives of those around me.
  </p>
  <button class="aboutMeBtn">
    <span>More About Me</span>
    <mat-icon aria-hidden="false">arrow_forward</mat-icon>
  </button>
</div>
