@import '../styles/variables';
:host {
  display: flex;
  flex-direction: row;

  @media (max-width: 1000px) {
    flex-direction: column;

    .imageContainer {
      left: 0px;
      height: calc(100vh - 30vh);
      // min-width: 200px;
    }
    .about {
      margin-left: 10%;
      h1 span {
        color: $lightGrey;
      }
    }
  }
}
:host.light {
  // display: flex;
  // flex-direction: row;

  // @media (max-width: 1000px) {
  //   flex-direction: column;

  //   .imageContainer {
  //     left: 0px;
  //     height: calc(100vh - 30vh);
  //     // min-width: 200px;
  //   }
  //   .about {
  //     margin-left: 10%;
  //     h1 span {
  //       color: $lightGrey;
  //     }
  //   }
  // }
  background: $white;

  .about {
    h1 {
      color: $lightPrimary;
    }
    span,
    p {
      color: $lightGrey;
    }
    .aboutMeBtn {
      border: 1px solid $lightPrimary;
      span {
        color: $lightGrey;
      }
      &:hover {
        background-color: $lightPrimary;
        span {
          color: $white;
        }
      }
      mat-icon {
        background-color: $lightPrimary;
      }
    }
  }
  .summaryDetails {
    background-color: $lightPrimary;
  }
}

.summaryDetails {
  display: flex;
  background: $darkPrimary;
}
.imageContainer {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: calc(100vh - 20vh);
  z-index: 11;
  border-radius: 30px;
  top: 40px;
  box-shadow: 0 0 7px rgb(0 0 0 / 90%);
  margin: 10%;
  position: relative;
  left: 50%;
  min-width: 350px;
  background-image: url('../../assets/ashok.jpg');

  // .profilePicture {
  //   width: 100%;
  //   max-width: 100%;
  //   max-height: 100%;
  //   border-radius: 30px;
  //   animation: slideIn 1s ease-in-out forwards;
  // }

  @keyframes slideIn {
    0% {
      transform: translateX(100px) scale(0.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  justify-content: center;
  padding-left: 20%;
  animation: slideIn 1.5s ease-in-out forwards;
  h1 {
    color: $darkPrimary;
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    margin: 18px 0 10px;
    position: relative;
    padding-left: 0;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    span {
      color: $white;
      display: block;
    }
  }
  p {
    margin: 15px 0 28px;
    font-size: 16px;
    line-height: 35px;
    font-family: 'Open Sans', sans-serif;
    color: $white;
  }
  .aboutMeBtn {
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    line-height: 1.4;
    border-radius: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.25s ease-in-out;
    text-transform: uppercase;
    text-decoration: none !important;
    position: relative;
    z-index: 1;
    padding: 16px 0;
    font-size: 15px;
    font-weight: 600;

    background-color: transparent;
    outline: none !important;
    border: 1px solid $darkPrimary;

    &:hover {
      background-color: $darkPrimary;
    }
    span {
      position: relative;
      z-index: 2;
      color: $white;
      transition: all 0.3s ease-out;
    }
    mat-icon {
      border-radius: 50%;
      background-color: $darkPrimary;
      color: $white;
    }
  }
}
