<div class="title">
  <h1>
    ABOUT
    <span>ME</span>
  </h1>
</div>

<div class="mainContent">
  <div class="personalInfo">
    <div class="info">
      <h3>PERSONAL INFOS</h3>
      <ul class="infoList">
        <li *ngFor="let in of info">
          <span class="infoTitle"> {{ in.key }}:</span>
          <span class="infoTitleValue"> {{ in.value }}</span>
        </li>
      </ul>
      <button class="aboutMeBtn" (click)="downloadResume()">
        <span>Download CV</span>
        <mat-icon aria-hidden="false">arrow_forward</mat-icon>
      </button>
    </div>
    <div class="box">
      <div class="innerBox">
        <h3>4</h3>
        <p>years of experience</p>
      </div>
    </div>
  </div>

  <div class="divider">
    <hr />
  </div>
  <div class="skillInfo">
    <h3>MY SKILLS</h3>
    <div class="subSkills">
      <div class="tech">
        <span>TECHNOLOGIES</span>
        <ul>
          <li *ngFor="let list of techList">
            <h2>{{ list.name }}</h2>
            <img src="../../assets/icons/{{ list.image }}.png" />
          </li>
        </ul>
      </div>

      <div class="tools">
        <span>TOOLS</span>
        <ul>
          <li *ngFor="let list of toolsList">
            <h2>{{ list.name }}</h2>
            <img src="../../assets/icons/{{ list.image }}.png" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>